APScheduler==3.6.3
beautifulsoup4==4.11.0
black==24.8.0
cachetools==4.2.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
decopatch==1.4.10
exceptiongroup==1.2.2
idna==3.8
iniconfig==2.0.0
makefun==1.15.4
mypy-extensions==1.0.0
numpy==1.22.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.1
pluggy==1.5.0
pymediawiki==0.7.0
pytest==8.3.0
pytest-cases==3.8.5
python-telegram-bot==13.11
pytz==2024.1
regex==2022.3.15
requests==2.31.0
-e git+https://github.com/Eixix/sili-telegram-bot.git@a38d6083ef1e712728d3479b9366b35076bae1f9#egg=sili_telegram_bot
six==1.16.0
soupsieve==2.6
tomli==2.0.1
tornado==6.4.1
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.2
