anyio==4.9.0
APScheduler==3.10.0
beautifulsoup4==4.11.0
black==25.1.0
certifi==2024.7.4
charset-normalizer==3.4.1
click==8.1.8
decopatch==1.4.10
exceptiongroup==1.2.2
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.1.0
idna==3.10
iniconfig==2.1.0
makefun==1.15.6
mypy-extensions==1.0.0
numpy==1.22.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pymediawiki==0.7.0
pytest==8.3.0
pytest-cases==3.8.5
python-telegram-bot==20.1
pytz==2025.2
regex==2022.3.15
requests==2.31.0
rfc3986==1.5.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
tomli==2.2.1
typing_extensions==4.13.0
tzlocal==5.3.1
urllib3==2.2.2
