name: Continuous Integration
on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/checkout@v4
      - name: Install dev dependencies
        run: |
          pip install .[dev]
      - name: Run tests
        run: |
          pytest
  dockertest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build test image
        run: |
          docker build -t sili-bot-test --target test .
      - name: Run test image
        run: |
          docker run --name sili-bot-test --rm sili-bot-test
